/* Style Page */
/* Same for both Signup and Login */
/* Style Page */
/* Same for both Signup and Login */
:root {
    --primary-color: #0087ca;
    --border-color: rgb(226, 226, 226);
}

body{
    background-image:url(background.jpg);
    background-position: 50%;
    background-size: 100%;
    font-family: Roboto;
}

.header{
    text-align: center;
    font-size: 400%;
    color: var(--primary-color);
    font-weight: 300;
    margin: 0rem;
}
.signup{
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    padding: 10px 20px 30px 20px;
    max-width: 500px;
    float: none;
    margin: 50px auto;
}

.head2{
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.btn-primary{
    background-color: var(--primary-color);
}

.redirect{
    border: 2px solid var(--border-color);
    max-width: 500px;
    border-radius: 4px;
    text-align: center;
    margin:auto;
}